<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    <ul class="menu-item">
      <li><a href="{{ site.url }}/">WORK</a></li>
	    <li><a href="/workflows.html">WORKFLOWS</a></li>
      <!-- li><a href="http://avfloss.github.io/faq/index.md">FAQ</a></li -->
      <li><a href=/contact>CONTACT</a></li>
    </ul>
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
