<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    <ul class="menu-item">
	    <li class="home"><a href="/">Carles Gutiérrez</a></li>
      <li><a href="http://carlesgutierrez.github.io/mediaart/">FAQ</a></li>
      <li><a href="http://carlesgutierrez.github.io/research/">CONTACT</a></li>
      <li><a href="http://carlesgutierrez.github.io/work/">WORK</a></li>
    </ul>
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
