<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    <ul class="menu-item">
	    <li class="home"><a href="/">Carles Gutiérrez</a></li>
      <li><a href="{{ site.url }}/">WORK</a></li>
      <li><a href="http://avfloss.github.io/faq/index.md">FAQ</a></li>
      <li><a href="mailto:avfloss@gmail.com?subject=Hola%20Avflossers!&body=Buenas!%20Quería%20saber..."">CONTACT</a></li>
    </ul>
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
